.create-section {
  display: flex;
  align-items: center;
}

.create-car-btn {
  cursor: pointer;
}

#createCarColor {
  cursor: pointer;
}

.update-section {
  display: flex;
  align-items: center;
}

.remove-car-btn {
  cursor: pointer;
}

.garage-pagination-container {
  display: flex;
  justify-content: space-around;
}

.cars-container .selected .select-car-btn {
  background-color: rgb(155, 207, 142);
}

.ABsSVGcontainer {
  display: flex;
  align-items: center;
}

@keyframes carAnimation {
  from {
    left: 0%;
  }
  to {
    left: calc(100% - 100px); 
  }
}