.create-section {
  display: flex;
  align-items: center;
}

.create-car-btn {
  cursor: pointer;
}

#createCarColor {
  cursor: pointer;
}

.update-section {
  display: flex;
  align-items: center;
}

.remove-car-btn {
  cursor: pointer;
}

.garage-pagination-container {
  display: flex;
  justify-content: space-around;
}


